services:
  app:
    build:
      context: .
      dockerfile: builds/Dockerfile
    container_name: weather_app
    env_file: ".env"
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      migrate-postgres:
        condition: service_completed_successfully
      migrate-clickhouse:
        condition: service_completed_successfully
    networks:
      - persistence-db
      - analytic-db

  postgres:
    image: postgres:16-alpine
    container_name: weather_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: weather_by_geo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./builds/local/postgres/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./builds/local/postgres/pg_hba.conf:/etc/postgresql/pg_hba.conf
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d weather_by_geo"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - persistence-db

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: weather_clickhouse
    environment:
      CLICKHOUSE_DB: weather_by_geo
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: default
    ports:
      - "9000:9000"
      - "8125:8123"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./builds/local/clickhouse/clickhouse.xml:/etc/clickhouse-server/configs.d/custom.xml
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - analytic-db

volumes:
  postgres_data:
  clickhouse_data:

networks:
  persistence-db:
    driver: bridge
  analytic-db:
    driver: bridge